<div class='container'>
  <h2>hello world</h2>
  <a href='http://localhost:8000/panel/login'>
    <button class='btn btn-success'>login</button>
  </a>
</div>

<script type='module'>
  console.log('home page')
</script>